@import "./Nord.css";

:root {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background-color: var(--nord0);
	width: auto;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	color: var(--nord6);
}
