:root {
	/* colors for each typing of pokemon */

	/* background color */
	--normal1: #cfcfb9;
	--fighting1: #d67873;
	--flying1: #68eaf3;
	--poison1: #c183c1;
	--ground1: #e4ca8a;
	--rock1: #d1c17d;
	--bug1: #c6d16e;
	--ghost1: #a292bc;
	--steel1: #d1d1e0;
	--fire1: #f5ac78;
	--water1: #81a1eb;
	--grass1: #a7db8d;
	--electric1: #f8fa8d;
	--psychic1: #fa92b2;
	--ice1: #b2ecec;
	--dragon1: #a27dfa;
	--dark1: #a29288;
	--fairy1: #f4bdc9;

	/* background of type icon */
	--normal2: #ebebdd;
	--fighting2: #e98e8a;
	--flying2: #98eaf0;
	--poison2: #ee93ee;
	--ground2: #f8ebcb;
	--rock2: #c2b36f;
	--bug2: #dfe7a0;
	--ghost2: #c2b8d4;
	--steel2: #e9e9f3;
	--fire2: #ecba95;
	--water2: #abbeeb;
	--grass2: #b0dd99;
	--electric2: #fcd023;
	--psychic2: #eea1b8;
	--ice2: #d1f8f8;
	--dragon2: #b69bf5;
	--dark2: #b9aca4;
	--fairy2: #ebc5cd;

	/* border of type icon */
	--normal3: #9b9b83;
	--fighting3: #834542;
	--flying3: #27858d;
	--poison3: #ad41ad;
	--ground3: #b8aa87;
	--rock3: #837742;
	--bug3: #7f863b;
	--ghost3: #827699;
	--steel3: #87878a;
	--fire3: #e07422;
	--water3: #51689e;
	--grass3: #669151;
	--electric3: #dfd32d;
	--psychic3: #a55e73;
	--ice3: #66a0a0;
	--dragon3: #7158ad;
	--dark3: #4b403a;
	--fairy3: #94616c;

	/* color of stat bar */
	--normal4: #9b9b8b;
	--fighting4: #c26f6b;
	--flying4: #5bd3db;
	--poison4: #c05ac0;
	--ground4: #cfb269;
	--rock4: #92833e;
	--bug4: #a9b83b;
	--ghost4: #9282b3;
	--steel4: #a9a9b8;
	--fire4: #eb985e;
	--water4: #6686d1;
	--grass4: #82b966;
	--electric4: #fcd023;
	--psychic4: #e27495;
	--ice4: #80dfdf;
	--dragon4: #906ae7;
	--dark4: #887367;
	--fairy4: #d393a1;
}
