/* Removed from project */

@import "../Nord.css";

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination__list {
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 100%;
	height: auto;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.pagination__item {
	background-color: var(--nord3);
	border: 1px var(--nord5) solid;
	border-radius: 5px;
	width: 2rem;
	height: 2rem;
	margin: 1rem;
}

.pagination__link {
	color: var(--nord6);
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination__item:hover {
	cursor: pointer;
	background-color: var(--nord5);
}

.pagination__link:hover {
	color: var(--nord1);
}
