:root {
	--normal1: #ddddca;
	--fighting1: #d67873;
	--flying1: #68eaf3;
	--poison1: #ce73ce;
	--ground1: #fce6ac;
	--rock1: #a5954d;
	--bug1: #d7e477;
	--ghost1: #a292c2;
	--steel1: #d1d1e0;
	--fire1: #f5ac78;
	--water1: #81a1eb;
	--grass1: #93c57a;
	--electric1: #e5e757;
	--psychic1: #fa92b2;
	--ice1: #b2ecec;
	--dragon1: #a27dfa;
	--dark1: #a29288;
	--fairy1: #f4bdc9;
}
