.pokemon-info-card {
	text-transform: capitalize;
}

.pokemon-info-card__card {
	border: 5px solid var(--nord3);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 50vh;
}

.pokemon-info-card__sprite-container {
	height: 20rem;
	width: 20rem;
	margin-right: 6rem;
	border: 5px var(--nord1) solid;
	background-image: linear-gradient(#e93636, #fff);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pokemon-info-card__sprite {
	width: 80%;
	height: 80%;
}

.pokemon-info-card__info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pokemon-info-card__id {
	display: flex;
	flex-direction: row;
	color: var(--nord0);
	font-size: 2.5rem;
	font-weight: bold;
}

.pokemon-info-card__types {
	display: flex;
	flex-direction: row;
}

.pokemon-info-card__type-card {
	margin: 5px;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	font-weight: bold;
}
