@import "../Colors.css";
@import "./PokemonTypeColors.css";

.pokemon {
	display: inline-block;
}

.pokemon__card {
	width: 16.6rem;
	display: flex;
	margin: 1rem;
	background-color: var(--nord2);
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 6.4rem;
	border: 0.3rem solid var(--nord0);
}

.pokemon__card:hover {
	opacity: 90%;
	width: 16.1rem;
	height: 5.9rem;
	margin: 1.25rem;
}

.pokemon__name {
	text-transform: capitalize;
	font-weight: bold;
}

.pokemon__link {
	text-decoration: none;
	color: var(--nord0);
}

.pokemon__sprite {
	height: auto;
}

.pokemon--normal {
	background-color: var(--normal1);
}

.pokemon--fighting {
	background-color: var(--fighting1);
}

.pokemon--flying {
	background-color: var(--flying1);
}

.pokemon--poison {
	background-color: var(--poison1);
}

.pokemon--ground {
	background-color: var(--ground1);
}

.pokemon--rock {
	background-color: var(--rock1);
}

.pokemon--bug {
	background-color: var(--bug1);
}

.pokemon--ghost {
	background-color: var(--ghost1);
}

.pokemon--steel {
	background-color: var(--steel1);
}

.pokemon--fire {
	background-color: var(--fire1);
}

.pokemon--water {
	background-color: var(--water1);
}

.pokemon--grass {
	background-color: var(--grass1);
}

.pokemon--electric {
	background-color: var(--electric1);
}

.pokemon--psychic {
	background-color: var(--psychic1);
}

.pokemon--ice {
	background-color: var(--ice1);
}

.pokemon--dragon {
	background-color: var(--dragon1);
}

.pokemon--dark {
	background-color: var(--dark1);
}

.pokemon--fairy {
	background-color: var(--fairy1);
}
