@import "../Colors.css";

.pokemon {
	color: var(--nord4);
	display: inline-block;
}

.pokemon__card {
	width: 17.2rem;
	display: flex;
	margin: 1rem;
	background-color: var(--nord2);
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 5px;
	height: auto;
}

.pokemon__name {
	text-transform: capitalize;
	font-weight: bold;
}

.pokemon__link {
	text-decoration: none;
	color: var(--nord4);
}
