.pokemon-info {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	margin-top: 10vh;
}

.pokemon-info__container {
	width: 80vw;
}

.pokemon-info__go-home {
	color: var(--nord6);
	font-weight: bold;
	font-size: 1.5rem;
}
