.pokemon-info-card {
	text-transform: capitalize;
}

.pokemon-info-card__card {
	border: 5px solid var(--nord3);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 50vh;
}

.pokemon-info-card__sprite {
	height: 15rem;
	margin-right: 6rem;
	padding: 1rem;
	border: 5px var(--nord1) solid;
	background-image: linear-gradient(#e93636, #fff);
	border-radius: 50%;
}

.pokemon-info-card__info {
	display: flex;
	flex-direction: column;
}

.pokemon-info-card__id {
	display: flex;
	flex-direction: row;
}

.pokemon-info-card__name {
	color: #121212;
}

.pokemon-info-card__types {
	display: flex;
	flex-direction: row;
}

.pokemon-info-card__type-card {
	margin: 5px;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	font-weight: bold;
}
