.pokemon {
	display: inline-block;
}

/* defining the card of each pokemon */
.pokemon__card {
	width: 16.6rem;
	display: flex;
	margin: 1rem;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	border-radius: 16px;
	height: 6.4rem;
	border: 0.3rem solid var(--nord0);
	transition: 300ms height linear;
}

/* is put onto a card when it is activated */
.pokemon__card:hover {
	filter: brightness(1.15);
	align-items: flex-start;
	/* height: 10rem; */
}

/* div holding id, name, etc. */
.pokemon__data {
	margin-top: 1rem;
}

/* pokemon's pokedex number */
.pokemon__id {
	font-weight: bold;
	font-size: 1.1rem;
}

/* the pokemon's name */
.pokemon__name {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.25rem;
}

/* make it so the link tag doesn't give any lines or general link aesthetic */
.pokemon__link {
	text-decoration: none;
	color: var(--nord0);
}

/* pokemon's picture/sprite */
.pokemon__sprite {
	height: auto;
	margin-right: 1.5rem;
}

/* line between the pokemon's dex number and name */
.pokemon__hr {
	width: 4rem;
}
