:root {
	--normal1: #c6c6a7;
	--fighting1: #d67873;
	--flying1: #c6b7f5;
	--poison1: #c183c1;
	--ground1: #ebd69d;
	--rock1: #d1c17d;
	--bug1: #c6d16e;
	--ghost1: #a292bc;
	--steel1: #d1d1e0;
	--fire1: #f5ac78;
	--water1: #9db7f5;
	--grass1: #a7db8d;
	--electric1: #fae078;
	--psychic1: #fa92b2;
	--ice1: #bce6e6;
	--dragon1: #a27dfa;
	--dark1: #a29288;
	--fairy1: #f4bdc9;
}
