@import "../Colors.css";
@import "./PokemonTypeColors.css";

.pokemon {
	display: inline-block;
}

/* defining the card of each pokemon */
.pokemon__card {
	width: 16.6rem;
	display: flex;
	margin: 1rem;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	border-radius: 16px;
	height: 6.4rem;
	border: 0.3rem solid var(--nord0);
	transition: 300ms height linear;
}

/* is put onto a card when it is activated */
.pokemon__card--active {
	filter: brightness(1.15);
	align-items: flex-start;
	/* height: 16rem; */
}

/* div holding id, name, etc. */
.pokemon__data {
	margin-top: 1rem;
}

.pokemon__id {
	font-weight: bold;
	font-size: 1.1rem;
}

.pokemon__name {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.25rem;
}

.pokemon__hr {
	width: 4rem;
}

.pokemon__link {
	text-decoration: none;
	color: var(--nord0);
}

.pokemon__sprite {
	height: auto;
	margin-right: 1.5rem;
}
