.stat-chart {
	display: flex;
	flex-direction: row;
	justify-content: left;
	border: 3px solid var(--nord0);
	border-radius: 5px;
	background-color: var(--nord4);
	padding: 10px 5px;
	width: 100%;
	font-size: 20px;
}

.stat-chart__base-stat-name-container {
	text-align: end;
	font-weight: bold;
}

.stat-chart__base-stat {
	display: grid;
	grid-template-areas: "value bar";
	gap: 0.6rem;
	grid-template-columns: 1fr 5fr;
	align-items: center;
}

.stat-chart__base-stat-value {
	grid-area: value;
}

.stat-chart__base-stat-line {
	grid-area: bar;
	height: 1rem;
	display: flex;
	justify-content: flex-start;
}

/* portrait larger screen */
@media only screen and (orientation: portrait) and (max-height: 1300px) {
	.stat-chart {
		width: 100%;
		padding: 5px 2px;
		justify-content: center;
		margin-top: 1rem;
	}
}

/* portrait phone screen */
@media only screen and (orientation: portrait) and (max-height: 850px) {
	.stat-chart {
		width: 100%;
		padding: 5px 2px;
		justify-content: center;
		margin-top: 1rem;
		font-size: 1rem;
	}
}

/* landscape medium screen */
@media only screen and (orientation: landscape) and (max-width: 1300px) {
	.stat-chart {
		width: 100%;
		height: 100%;
		font-size: 1rem;
	}
}

/* landscape small screen */
@media only screen and (orientation: landscape) and (max-width: 850px) {
}
