.stat-chart {
	display: flex;
	flex-direction: row;
	justify-content: left;
	border: 3px solid var(--nord0);
	border-radius: 5px;
	background-color: var(--nord4);
	padding: 10px 5px;
	width: 15rem;
}

.stat-chart__base-stat-name-container {
	text-align: end;
	font-weight: bold;
}

.stat-chart__base-stat {
	display: grid;
	grid-template-areas: "value bar";
	gap: 0.6rem;
	grid-template-columns: 1fr 5fr;
}

.stat-chart__base-stat-value {
	grid-area: value;
}

.stat-chart__base-stat-line {
	width: 50px;
	grid-area: bar;
	height: 1rem;
	display: flex;
	justify-content: flex-start;
}
